<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("partials/head") %>
        <link rel="stylesheet" href="/common/styles/swal.css">
        <link rel="icon" href="/common/images/vixun-logo.png">
        <%- block("stylesheets").toString() %>
    </head>

    <body>
        <!-- PAGE HEADER -->
        <%- include("partials/page-header") %>

        <!-- MAIN NAVBAR -->
        <%- include("partials/main-navbar") %>

        <%- body %>

        <!-- PAGE FOOTER -->
        <%- include("partials/page-footer") %>

        <% if (err && err.length) { %>
        <p id="error-text" style="display: none;"><%= err[0] %></p>
        <script src="/common/scripts/swal-error.js" type="module"></script>
        <% } %>

        <script src="/common/scripts/vendor/progressbar.min.js" defer></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
        <script src="/common/scripts/navbar-main.js" type="module"></script>
        <%- block("scripts").toString() %>
    </body>

</html>
