<% layout("boilerplate") %>
<% block("stylesheets").append(`
<link rel="stylesheet" href="/common/styles/display-comments.css">
<link rel="stylesheet" href="/song/styles/display-song.css">
`) %>

<% if (user?.isAdmin) { %>
<form id="form-delete-song" action="/songs/<%= song._id %>?_method=DELETE" method="post">
    <button>DELETE SONG</button>
</form>
<% } %>

<main id="display-song">
    <div id="song-image">
        <svg id="song-play" width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M29 0C12.9853 0 0 12.9853 0 29C0 45.0147 12.9853 58 29 58C45.0147 58 58 45.0147 58 29C58 12.9853 45.0147 0 29 0ZM38.3279 29.4467L24.1904 39.7326C24.1129 39.7883 24.0215 39.8215 23.9264 39.8287C23.8312 39.8358 23.7359 39.8166 23.6509 39.7731C23.566 39.7296 23.4946 39.6636 23.4448 39.5822C23.3949 39.5008 23.3685 39.4073 23.3683 39.3118V18.7529C23.368 18.6573 23.3942 18.5634 23.4439 18.4817C23.4937 18.4001 23.5651 18.3338 23.6502 18.2902C23.7353 18.2466 23.8309 18.2275 23.9262 18.2349C24.0216 18.2423 24.113 18.276 24.1904 18.3321L38.3279 28.6116C38.3947 28.6588 38.4492 28.7214 38.4868 28.7941C38.5244 28.8667 38.544 28.9473 38.544 29.0291C38.544 29.1109 38.5244 29.1915 38.4868 29.2642C38.4492 29.3368 38.3947 29.3994 38.3279 29.4467Z"
                fill="white" />
        </svg>
        <svg id="song-pause" width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M29 58C12.9833 58 0 45.0167 0 29C0 12.9833 12.9833 0 29 0C45.0167 0 58 12.9833 58 29C57.9826 45.008 45.008 57.9826 29 58ZM31.9 17.4V40.6H37.7V17.4H31.9ZM20.3 17.4V40.6H26.1V17.4H20.3Z"
                fill="white" />
        </svg>
        <img id="song" src="<%= song.image %>" alt="<%= song.title %>" title="<%= song.title %>">
        <audio>
            <source src="<%= song.externals.spotify.preview || song.externals.deezer.preview %>" type="audio/mpeg">
            No audio :(
        </audio>
    </div>

    <section id="song-info">
        <h2 id="song-artist"><%= song.artist %></h2>
        <p id="song-title"><%= song.title %></p>
        <footer>
            <p id="song-album"><%= song.album %></p>
            <p id="song-price"><%= song.price %></p>
        </footer>
    </section>

    <section id="song-links">
        <% if (song.externals.spotify.link) { %>
        <a href="<%= song.externals.spotify.link %>" target="_blank" id="song-link-spotify" class="song-link">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16 0C11.7565 0 7.68687 1.68571 4.68629 4.68629C1.68571 7.68687 0 11.7565 0 16C0 20.2435 1.68571 24.3131 4.68629 27.3137C7.68687 30.3143 11.7565 32 16 32C20.2435 32 24.3131 30.3143 27.3137 27.3137C30.3143 24.3131 32 20.2435 32 16C32 11.7565 30.3143 7.68687 27.3137 4.68629C24.3131 1.68571 20.2435 0 16 0V0ZM23.338 23.076C23.2698 23.1879 23.1801 23.2853 23.0741 23.3625C22.9682 23.4397 22.848 23.4952 22.7205 23.5259C22.5931 23.5565 22.4608 23.5617 22.3313 23.5412C22.2018 23.5206 22.0777 23.4747 21.966 23.406C18.208 21.112 13.48 20.592 7.91 21.866C7.65194 21.9249 7.38107 21.8788 7.15696 21.738C6.93286 21.5972 6.77388 21.3731 6.715 21.115C6.65612 20.8569 6.70217 20.5861 6.84301 20.362C6.98385 20.1379 7.20794 19.9789 7.466 19.92C13.562 18.528 18.79 19.126 23.006 21.704C23.2316 21.8423 23.3932 22.0643 23.4554 22.3214C23.5176 22.5786 23.4754 22.8499 23.338 23.076ZM25.296 18.72C25.1227 19.0018 24.8446 19.2033 24.5229 19.2802C24.2011 19.3571 23.862 19.3031 23.58 19.13C19.28 16.488 12.724 15.722 7.636 17.266C7.32631 17.3396 7.00021 17.2923 6.72422 17.1337C6.44822 16.9751 6.24313 16.7172 6.15078 16.4125C6.05842 16.1079 6.08576 15.7795 6.22721 15.4944C6.36867 15.2092 6.61358 14.9888 6.912 14.878C12.722 13.116 19.946 13.97 24.884 17.004C25.1662 17.1769 25.3681 17.4549 25.4453 17.7767C25.5226 18.0985 25.4689 18.4378 25.296 18.72ZM25.464 14.184C20.308 11.12 11.8 10.838 6.876 12.332C6.49621 12.4471 6.08625 12.4066 5.73631 12.2195C5.38636 12.0323 5.1251 11.7138 5.01 11.334C4.8949 10.9542 4.93538 10.5443 5.12254 10.1943C5.3097 9.84436 5.62821 9.5831 6.008 9.468C11.658 7.754 21.054 8.084 26.992 11.608C27.3336 11.8106 27.5807 12.1407 27.679 12.5255C27.7773 12.9103 27.7186 13.3184 27.516 13.66C27.3134 14.0016 26.9833 14.2487 26.5985 14.347C26.2137 14.4453 25.8056 14.3866 25.464 14.184Z"
                    fill="#212121" />
            </svg>
            <p>Listen on Spotify</p>
        </a>
        <% } %>

        <% if (song.externals.deezer.link) { %>
        <a href="<%= song.externals.deezer.link %>" target="_blank" id="song-link-deezer" class="song-link">
            <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M25.0811 9.24283H32V5.37805H25.0811V9.24283ZM25.0811 0V3.86265H32V0H25.0811ZM25.0811 14.6204H32V10.7572H25.0811V14.6204ZM0 20H6.91889V16.1373H0V20ZM8.35944 20H15.2778V16.1373H8.35944V20ZM16.7217 20H23.6406V16.1373H16.7222L16.7217 20ZM25.0811 20H32V16.1373H25.0811V20ZM16.7222 14.6204H23.6406V10.7572H16.7222V14.6204ZM8.36 14.6204H15.2778V10.7572H8.35944L8.36 14.6204ZM8.36 9.24283H15.2778V5.37805H8.35944L8.36 9.24283Z"
                    fill="#212121" />
            </svg>
            <p>Listen on Deezer</p>
        </a>
        <% } %>

        <% if (song.externals.amazonMusic.link) { %>
        <a href="<%= song.externals.amazonMusic.link %>" target="_blank" id="song-link-amazon" class="song-link">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M28.5471 26.3016C28.4148 26.2655 28.2544 26.2856 28.07 26.3536C25.6006 27.4829 23.1994 28.2878 20.8663 28.7644C15.8273 29.7895 10.9166 29.2529 6.13822 27.1586C4.81133 26.5739 2.96731 25.5888 0.606159 24.1952C0.545319 24.1472 0.471098 24.1193 0.393695 24.1151C0.313521 24.1111 0.245372 24.1191 0.181232 24.1512C0.117093 24.1832 0.0689875 24.2233 0.0329089 24.2753C-0.00316979 24.3274 -0.011187 24.3995 0.0168741 24.4916C0.0409266 24.5797 0.101058 24.6798 0.201276 24.7879C0.618185 25.2764 1.13531 25.797 1.74865 26.3496C2.36199 26.9023 3.17576 27.527 4.18997 28.2238C5.20418 28.9205 6.2665 29.5412 7.3689 30.0818C8.47531 30.6224 9.75811 31.079 11.2213 31.4474C12.6845 31.8158 14.1477 32 15.6069 32C17.058 32 18.4691 31.8518 19.8361 31.5635C21.2071 31.2712 22.3616 30.9268 23.3036 30.5263C24.2417 30.1299 25.1076 29.6854 25.9013 29.2049C26.695 28.7243 27.2803 28.3159 27.6611 27.9915C28.042 27.6631 28.3146 27.4068 28.4709 27.2146C28.6553 26.9864 28.7475 26.7901 28.7475 26.6179C28.7515 26.4377 28.6794 26.3336 28.5471 26.3016ZM16.6171 9.45063C16.0077 9.50269 15.2741 9.61482 14.4123 9.783C13.5504 9.94719 12.7526 10.1554 12.015 10.3997C11.2774 10.644 10.5238 10.9844 9.75811 11.4168C8.98843 11.8493 8.33501 12.3459 7.79383 12.8985C7.25265 13.4511 6.81169 14.1439 6.46694 14.9809C6.12218 15.8138 5.94981 16.7308 5.94981 17.7319C5.94981 18.8172 6.13822 19.7823 6.52306 20.6352C6.90389 21.4882 7.413 22.1569 8.05439 22.6535C8.69178 23.15 9.41737 23.5385 10.2191 23.8228C11.0209 24.1071 11.8707 24.2353 12.7526 24.1992C13.6346 24.1632 14.4964 24.027 15.3343 23.7868C16.1681 23.5505 16.9538 23.1701 17.6834 22.6535C18.413 22.1369 19.0103 21.5242 19.4793 20.8234C19.6517 21.0877 19.804 21.2839 19.9403 21.4121L20.2891 21.7685C20.5216 22.0048 20.8784 22.3531 21.3594 22.8137C21.8364 23.2742 22.3255 23.7227 22.8146 24.1632L26.9997 20.1627L26.7592 19.9665C26.5868 19.8343 26.3824 19.6461 26.1498 19.3938C25.9173 19.1455 25.6848 18.8692 25.4603 18.5729C25.2318 18.2766 25.0354 17.9282 24.8711 17.5357C24.7067 17.1433 24.6225 16.7629 24.6225 16.3944V5.8706C24.6225 5.46615 24.5463 5.02966 24.394 4.55713C24.2377 4.0886 23.9651 3.57602 23.5642 3.0234C23.1633 2.47078 22.6662 1.97422 22.073 1.54173C21.4757 1.10925 20.6819 0.740833 19.6838 0.4445C18.6896 0.148167 17.5752 0 16.3485 0C15.0937 0 13.9272 0.148167 12.8368 0.436491C11.7505 0.72882 10.8204 1.11726 10.0427 1.60581C9.26904 2.09436 8.60359 2.65899 8.05039 3.30372C7.49718 3.94844 7.08428 4.6212 6.81569 5.32199C6.54711 6.02278 6.41081 6.73157 6.41081 7.44838L11.8306 7.92491C12.0511 7.26818 12.3478 6.69954 12.7126 6.21099C13.0814 5.72244 13.4301 5.37004 13.7468 5.14979C14.0675 4.92955 14.4123 4.75335 14.7771 4.6212C15.1459 4.48905 15.3944 4.42097 15.5227 4.40496C15.651 4.39294 15.7512 4.38894 15.8273 4.38894C16.8977 4.38894 17.6393 4.70529 18.0562 5.334C18.3168 5.71443 18.445 6.29108 18.445 7.06795V9.3345C17.8357 9.35853 17.2264 9.39857 16.6171 9.45063ZM18.4491 15.5335C18.4491 16.1982 18.3609 16.8029 18.1885 17.3355C17.8197 18.5008 17.1182 19.2336 16.0879 19.53C15.19 19.7943 14.3361 19.6621 13.5263 19.1375C12.6644 18.5769 12.2355 17.784 12.2355 16.7629C12.2355 15.966 12.4359 15.2852 12.8368 14.7166C13.2377 14.1519 13.7709 13.7274 14.4403 13.4471C15.1098 13.1668 15.7632 12.9666 16.4046 12.8505C17.042 12.7303 17.7275 12.6582 18.4491 12.6342V15.5335ZM31.8863 24.2993C31.714 24.0831 31.249 23.9429 30.4873 23.8709C29.7256 23.7988 29.0642 23.8028 28.495 23.8869C27.8816 23.959 27.2482 24.1352 26.5988 24.4235C25.9454 24.7078 25.6608 24.9481 25.7329 25.1363L25.761 25.1883L25.7971 25.2164L25.8532 25.2244H26.0376C26.0697 25.2244 26.1098 25.2204 26.1659 25.2164C26.222 25.2124 26.2741 25.2044 26.3222 25.2004C26.3703 25.1963 26.4385 25.1883 26.5267 25.1843C26.6108 25.1803 26.691 25.1683 26.7672 25.1563C26.7792 25.1563 26.9155 25.1443 27.1801 25.1203C27.4447 25.0962 27.6371 25.0802 27.7533 25.0682C27.8696 25.0562 28.066 25.0442 28.3346 25.0322C28.6032 25.0201 28.8197 25.0201 28.98 25.0322C29.1404 25.0442 29.3208 25.0602 29.5252 25.0762C29.7296 25.0922 29.894 25.1283 30.0223 25.1843C30.1506 25.2364 30.2468 25.3045 30.3069 25.3886C30.5154 25.6529 30.4753 26.2375 30.1866 27.1465C29.898 28.0556 29.6254 28.7804 29.3689 29.317C29.2566 29.5452 29.2566 29.6854 29.3689 29.7455C29.4811 29.8055 29.6374 29.7495 29.8459 29.5853C30.4713 29.0967 30.9924 28.3599 31.4133 27.3708C31.6579 26.7861 31.8342 26.1775 31.9385 25.5407C32.0347 24.904 32.0186 24.4916 31.8863 24.2993Z"
                    fill="#212121" />
            </svg>
            <p>Check out on Amazon</p>
        </a>
        <% } %>
    </section>

    <section id="display-song-buttons">
        <form id="back" action="/#display-browse" method="get">
            <button>
                <svg width="44" height="35" viewBox="0 0 44 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.950001 17.5L20.1698 0.350006V9.58462H43.825V25.4154H20.1698V34.65L0.950001 17.5Z" />
                </svg>
            </button>
        </form>

        <button id="share">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M5 7c2.761 0 5 2.239 5 5s-2.239 5-5 5-5-2.239-5-5 2.239-5 5-5zm11.122 12.065c-.073.301-.122.611-.122.935 0 2.209 1.791 4 4 4s4-1.791 4-4-1.791-4-4-4c-1.165 0-2.204.506-2.935 1.301l-5.488-2.927c-.23.636-.549 1.229-.943 1.764l5.488 2.927zm7.878-15.065c0-2.209-1.791-4-4-4s-4 1.791-4 4c0 .324.049.634.122.935l-5.488 2.927c.395.535.713 1.127.943 1.764l5.488-2.927c.731.795 1.77 1.301 2.935 1.301 2.209 0 4-1.791 4-4z" />
            </svg>
        </button>

        <!-- XXX this works to check if the user has favorited this song at the start,
            but i kinda want to move this out of the ejs tho -->
        <% const stringedFavs = user?.favorites?.map(fav => fav.toString()) %>
        <% const isFavorited = stringedFavs?.includes(song._id.toString()) %>
        <button id="favorite" class="<%= isFavorited && 'added' %>" <%= !user && "disabled" %>>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z" />
            </svg>
        </button>
    </section>

    <svg class="circle-decoration-red circle-decoration-hollow" width="30" height="27" viewBox="0 0 30 27" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="11" cy="16" r="11" fill="#FF0000" />
        <circle cx="11" cy="16" r="8" fill="white" />
        <path
            d="M5.64622 18.4681L9.51088 19.8204C10.8929 20.304 12.3091 19.1875 12.1612 17.7307L11.8442 14.6062C11.7071 13.2552 12.9274 12.1632 14.2549 12.4491L17.5273 13.1537C18.9062 13.4506 20.1509 12.2652 19.9218 10.8735L19.5025 8.3273C19.2647 6.8829 20.6082 5.68075 22.0174 6.07705L24.2072 6.69288C25.6401 7.09584 26.9954 5.84823 26.7121 4.38694L26.1462 1.46806"
            stroke="black" stroke-width="2" stroke-linecap="round" />
    </svg>

    <svg class="circle-decoration-purple" width="54" height="50" viewBox="0 0 54 50" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="33.5172" cy="20.4828" r="20.4828" fill="#A129FF" />
        <path
            d="M34.902 48.1676L38.174 38.3646C38.6376 36.9757 37.5006 35.5758 36.0462 35.7447L25.1898 37.0052C23.841 37.1619 22.7315 35.9574 22.9981 34.6259L25.1844 23.7066C25.4613 22.3236 24.2581 21.0962 22.8699 21.3454L12.9813 23.121C11.5404 23.3797 10.319 22.0537 10.6949 20.6389L13.196 11.2245C13.5782 9.78591 12.3111 8.44883 10.8541 8.75322L2.69797 10.4571"
            stroke="black" stroke-width="2" stroke-linecap="round" />
    </svg>

    <svg class="circle-decoration-purple" width="20" height="20" viewBox="0 0 20 20" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="9.16751" cy="12.3559" r="7.6441" fill="#A129FF" />
        <path
            d="M18.5232 10.1962L16.8859 11.1324C15.6148 11.8592 14.0193 11.0187 13.8998 9.55936L13.8685 9.1764C13.7577 7.82299 12.3592 6.97108 11.1058 7.49347L10.5327 7.73231C9.24401 8.26939 7.81919 7.33965 7.79182 5.94378L7.7889 5.79486C7.76185 4.41551 6.3108 3.5316 5.07272 4.14029V4.14029C3.81381 4.75923 2.34408 3.83519 2.35625 2.43241L2.36722 1.16913"
            stroke="black" stroke-width="2" stroke-linecap="round" />
    </svg>

    <svg class="circle-decoration-red circle-decoration-hollow" width="50" height="47" viewBox="0 0 50 47" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="19.0136" cy="19.0136" r="19.0136" fill="#FF0000" />
        <circle cx="19.0136" cy="19.0136" r="13.8281" fill="white" />
        <path
            d="M8.03102 38.8362L16.8732 41.9304C18.2552 42.414 19.6714 41.2974 19.5236 39.8407L18.542 30.1678C18.4049 28.8168 19.6253 27.7248 20.9528 28.0107L30.6597 30.1007C32.0385 30.3976 33.2832 29.2123 33.0541 27.8206L31.6097 19.0487C31.3719 17.6043 32.7154 16.4021 34.1246 16.7984L42.3883 19.1224C43.8212 19.5253 45.1765 18.2777 44.8932 16.8164L43.4655 9.45161"
            stroke="black" stroke-width="2" stroke-linecap="round" />
    </svg>
</main>

<section id="display-comments">
    <div class="title-card">
        <h2>COMMENTS</h2>
    </div>

    <% if (!user) { %>
    <p id="comment-login"><a href="/auth/login">Login to make comments!</a></p>
    <% } else { %>
    <form id="form-new-comment" action="/songs/<%= song._id %>/comments" class="comment" method="post">
        <textarea name="text" class="comment-text" placeholder="Write your comment here!"></textarea>
        <footer class="comment-footer">
            <button type="button" class="comment-delete">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
                </svg>
            </button>
            <button type="submit" class="comment-confirm">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                </svg>
            </button>
        </footer>
    </form>
    <% } %>

    <section id="display-comments-render">
        <template id="comment-template-editable">
            <article class="comment">
                <textarea name="text" class="comment-text"></textarea>
                <footer class="comment-footer">
                    <small class="comment-username">Username</small>
                    <form action="" method="post" class="comment-delete">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
                            </svg>
                        </button>
                    </form>
                    <form action="" method="post" class="comment-confirm">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                            </svg>
                        </button>
                    </form>
                </footer>
            </article>
        </template>

        <template id="comment-template-fixed">
            <article class="comment">
                <p name="text" class="comment-text"></p>
                <footer class="comment-footer">
                    <small class="comment-username">Username</small>
                </footer>
            </article>
        </template>
    </section>


    <svg class="circle-decoration-red circle-decoration-hollow" width="30" height="27" viewBox="0 0 30 27" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="11" cy="16" r="11" fill="#FF0000" />
        <circle cx="11" cy="16" r="8" fill="white" />
        <path
            d="M5.64622 18.4681L9.51088 19.8204C10.8929 20.304 12.3091 19.1875 12.1612 17.7307L11.8442 14.6062C11.7071 13.2552 12.9274 12.1632 14.2549 12.4491L17.5273 13.1537C18.9062 13.4506 20.1509 12.2652 19.9218 10.8735L19.5025 8.3273C19.2647 6.8829 20.6082 5.68075 22.0174 6.07705L24.2072 6.69288C25.6401 7.09584 26.9954 5.84823 26.7121 4.38694L26.1462 1.46806"
            stroke="black" stroke-width="2" stroke-linecap="round" />
    </svg>

    <svg class="circle-decoration-purple" width="54" height="50" viewBox="0 0 54 50" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="33.5172" cy="20.4828" r="20.4828" fill="#A129FF" />
        <path
            d="M34.902 48.1676L38.174 38.3646C38.6376 36.9757 37.5006 35.5758 36.0462 35.7447L25.1898 37.0052C23.841 37.1619 22.7315 35.9574 22.9981 34.6259L25.1844 23.7066C25.4613 22.3236 24.2581 21.0962 22.8699 21.3454L12.9813 23.121C11.5404 23.3797 10.319 22.0537 10.6949 20.6389L13.196 11.2245C13.5782 9.78591 12.3111 8.44883 10.8541 8.75322L2.69797 10.4571"
            stroke="black" stroke-width="2" stroke-linecap="round" />
    </svg>

    <svg class="circle-decoration-purple" width="20" height="20" viewBox="0 0 20 20" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="9.16751" cy="12.3559" r="7.6441" fill="#A129FF" />
        <path
            d="M18.5232 10.1962L16.8859 11.1324C15.6148 11.8592 14.0193 11.0187 13.8998 9.55936L13.8685 9.1764C13.7577 7.82299 12.3592 6.97108 11.1058 7.49347L10.5327 7.73231C9.24401 8.26939 7.81919 7.33965 7.79182 5.94378L7.7889 5.79486C7.76185 4.41551 6.3108 3.5316 5.07272 4.14029V4.14029C3.81381 4.75923 2.34408 3.83519 2.35625 2.43241L2.36722 1.16913"
            stroke="black" stroke-width="2" stroke-linecap="round" />
    </svg>

    <svg class="circle-decoration-red circle-decoration-hollow" width="50" height="47" viewBox="0 0 50 47" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="19.0136" cy="19.0136" r="19.0136" fill="#FF0000" />
        <circle cx="19.0136" cy="19.0136" r="13.8281" fill="white" />
        <path
            d="M8.03102 38.8362L16.8732 41.9304C18.2552 42.414 19.6714 41.2974 19.5236 39.8407L18.542 30.1678C18.4049 28.8168 19.6253 27.7248 20.9528 28.0107L30.6597 30.1007C32.0385 30.3976 33.2832 29.2123 33.0541 27.8206L31.6097 19.0487C31.3719 17.6043 32.7154 16.4021 34.1246 16.7984L42.3883 19.1224C43.8212 19.5253 45.1765 18.2777 44.8932 16.8164L43.4655 9.45161"
            stroke="black" stroke-width="2" stroke-linecap="round" />
    </svg>
</section>

<% block("scripts").append('<script type="module" src="/song/scripts/index.js" defer></script>') %>
